@import '../../sass/globals.variables.sass'
@import '../Button/button.module'
@import '../../sass/mixins.sass'
.nav
    display: flex
    flex-direction: column
    align-items: center
    gap: 16px
    margin-top: 32px
    padding: 16px
    max-width: fit-content
    max-height: fit-content
    min-width: min-content
    min-height: min-content
    .arrow
        display: flex
        justify-content: center
        align-items: center
        
        > .staticArrow
            transform: rotate(180deg) /* Counter-rotate the arrow to make it static */
    .menu
        max-width: 300px
        min-width: 200px
        max-height: max-content
        min-height: min-content
        background-color: $color-theme-dark
        color: $color-theme-dark-text
        padding: 15px 20px
        сursor: pointer
        border-radius: 10px //!
        list-style-type: none
        user-select: none
        display: flex
        gap: 6px
        flex-direction: column
        @include ThemeStyles(false)

        .item
            padding: 6px 10px
            border-radius: 5px
            transition: background-color 0.3s ease
           
            @include ThemeStylesChild