@import '../../sass/globals.variables.sass'
@import '../../sass/mixins.sass'

.button
    all: unset
    cursor: pointer
    padding: 8px 16px 
    border-radius: 6px
    max-width: max-content
    min-width: min-content
    max-height: max-content
    min-height: min-content
    text-align: center
    font-size: clamp(12px, 16px, 20px)
    line-height: 24px
    font-weight: 500
    position: relative
    display: flex
    flex-direction: row
    justify-content: space-between
    gap: 8px
    @include ThemeStyles